//color templates

$text-black: #000000;
$text-white: #FFFFFF;
$text-gray: #57565E;
$text-blue: #032EDD;

$bg-white: #FFFFFF;
$bg-gray: #E6E6E6;
$bg-blue: #032EDD;
$bg-darkBlue: #011461;

$shadow-gray: #CECECE;
$shadow-green: #36A94C;
$shadow-red: #a02323;

//fonts

$heading-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Roboto', sans-serif;
